node_modules
.temp
.cache
.DS_Store
.firebase
/.idea/modules.xml
/.idea/oss-cashmallow.github.io.iml
/.idea/vcs.xml
/.idea/misc.xml
/.idea/.gitignore

# MY
# docs 폴더 전체 무시
/docs/*

# docs/CNAME 파일은 예외로 포함
!/docs/CNAME
